<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">


<div th:replace="~{admin/header :: header}"></div>

<body>

<div th:replace="~{admin/header :: navbar}"></div>
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card-header">
            <h2 class="text-center">Edit Post</h2>
        </div>
        <div class="card-body">
            <form role="form" method="post" th:action="@{/admin/posts/{postId}(postId=${post.id})}" th:object="${post}">
                <input type="hidden" th:field="*{id}">
                <input type="hidden" th:field="*{url}">
                <input type="hidden" th:field="*{createdOn}">

                <div class="mb-3">
                    <label class="form.label">Title</label>
                    <input type="text" class="form-control" id="title" placeholder="Enter most Title
                " name="title"
                           th:field="*{title}"
                    />
                    <p th:if="${#fields.hasErrors('title')}" class="text-danger" th:errors="*{title}"></p>
                    <br/>
                    <div class="mb-3"
                    > <label class="form-label"> Short Description</label>
                        <textarea class="form-control"
                                  id="shortDescription"
                                  placeholder="Enter post short Description"
                                  rows="3"
                                  name="shortDescription"
                                  th:field="*{shortDescription}"
                        >


                </textarea>
                        <p th:if="${#fields.hasErrors('shortDescription')}" class="text-danger" th:errors="*{shortDescription}"></p>

                    </div>
                    <div class="mb-3"
                    > <label class="form-label"> Content</label>
                        <textarea class="form-control"
                                  id="content"
                                  placeholder="Enter post content"
                                  rows="12"
                                  name="content"
                                  th:field="*{content}"></textarea>
                        <p th:if="${#fields.hasErrors('content')}" class="text-danger" th:errors="*{content}"></p>

                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
             </form>
        </div>
    </div>
</div>
<div th:replace="~{admin/footer :: footer}"></div>
<link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/43.0.0/ckeditor5.css">

<script type="importmap">
    {
        "imports": {
            "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/43.0.0/ckeditor5.js",
            "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/43.0.0/"
        }
    }
</script>
<script type="module">
    import {
        ClassicEditor,
        Essentials,
        Paragraph,
        Bold,
        Italic,
        Font
    } from 'ckeditor5';

    ClassicEditor
        .create( document.querySelector( '#content' ), {
            plugins: [ Essentials, Paragraph, Bold, Italic, Font ],
            toolbar: [
                'undo', 'redo', '|', 'bold', 'italic', '|',
                'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor'
            ]
        } )
        .then( editor => {
            window.editor = editor;
        } )
        .catch( error => {
            console.error( error );
        } );
</script>
</body>
</html>